################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KaosesWages
/KaosesWages/obj
/KaosesWages/bin/x64/Debug/net472
/KaosesWagesCore/obj
/KaosesWagesCore/.vs/KaosesWagesCore
/KaosesWagesCore/KaosesWagesCore.csproj
/.vs/VSWorkspaceState.json
JSON/
.vs/
KaosesWagesCore/bin/
